body {
    background-color: rgb(70, 70, 70);
}

.settingsCheckbox {
    width: auto;
    font-size: 20px;
    font-weight: bold;
    color: rgb(160, 188, 31);
    background-color: rgb(104, 104, 104);
    transition: 0.3s;
    border: solid;
    border-radius: 5px;
}

.settingsCheckbox:hover {
    transform: scale(1.05);
    border-color: whitesmoke;
}

.container {
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(104, 104, 104);
    margin-left: auto;
    margin-right: auto;
    padding-left: 4%;
    padding-right: 4%;
    height: 300px; /* Fixed height */
    overflow-y: auto; /* Enables vertical scrolling */
    width: 60%;
}

.typingArea {
    font-size: 25px;
    word-spacing: 5px;
    color: black;
    width: 70%;
}

.currentLetter {
    text-decoration-color: rgb(0, 20, 255);
    text-decoration-line: underline;
    text-underline-offset: 8px;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
}

.successLetter {
    color: #4dfc21;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.failureLetter {
    color: #e70000;
    transition: all 0.3s ease-in-out;
}

.correctedLetter {
    color: rgb(255, 149, 0);
}

.userInputRect {
    text-align: center;
    opacity: 0;
}

.userInput {
    user-select: none;
}

.pulsate {
    animation: pulse 1s infinite linear;
}

